<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
  <!-- signed in stuff -->
<% end %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %> <!-- @pins comes from the controller, pin is only inside the block -->
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= link_to pin.description, pin %>
        <div class="username">
          <%= pin.user.name if pin.user %>
        </div> <!-- end class username -->
        <% if pin.user == current_user %>
          <div class="actions">

          <%= link_to edit_pin_path(pin) do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          <% end %>
          <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
          </div> <!-- end div class actions -->
        <% end %>
      </div> <!-- end panel body -->
    </div> <!-- end class=box for each pin -->
  <% end %>
</div> <!-- end id=pins div -->

<div class="center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

