<p id="notice"><%= notice %></p>
<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url (:medium) %>
			</div> <!-- end class panel heading -->
			<div class="panel-body">
				<p>
				<%= @pin.description %>
				<div class="username">
					<p><%= @pin.user.email if @pin.user %></p>
				</div>
				</p>

				<% if @pin.user == current_user %>
					<%= link_to edit_pin_path(@pin) do %>
				        <span class="glyphicon glyphicon-pencil"></span>
				        Edit
			        <% end %>
			        <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
	            		<span class="glyphicon glyphicon-trash"></span>
	           			Delete
	          		<% end %>
				<% end %> <!-- end if pin user = current user -->
			</div><!--  end class panel body -->
		</div> <!-- end div class panel -->
	</div> <!-- end div class box -->
</div> <!-- end div id pins -->


